*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: #F4F4F4;
}
/* header */
#header{
    background-color: #fff;
    position: relative;
    padding: 0px 20px;
    padding-bottom: 3px;
}
#header::after{
    position: absolute;
    content: "";
    width: 95%;
    height: 2px;
    background-color: #ccc8c8;
    
}
#header .flex{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
}
#lower_header{
    background-color: #fff;
}
#lower_header .flex{
    display: flex;
    justify-content: center;

}
#lower_header .flex_content{
    margin: 0 10px;
    text-transform: uppercase;
    border-top: 5px solid transparent;
}
#lower_header .flex_content:hover{
    border-top: 5px solid #18B8E1;
}
#lower_header a {
    color: #000;
}
/* header  */
/* section_01 */

#section_01{
    margin: 0 80px; 
}
#section_01 .grid{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
#section_01 .gird_content{}
#section_01 .gird .content_02{
    background-color: #000;
}
#section_01 img{
    width: 100%;
}
#section_01 h1 {
    text-align: right;
    font-size: 50px;
}
/* section_01 */